<p>&nbsp; <strong>&nbsp;</strong></p>
<table style="border-collapse: collapse; width: 100%; height: 60px;" border="1">
<tbody>
<tr style="height: 20px;">
<td style="width: 50%; height: 20px;"><strong>&nbsp;Folio:</strong></td>
<td style="width: 50%; height: 20px;">&nbsp;{{folio_informe}}</td>
</tr>
<tr style="height: 20px;">
<td style="width: 50%; height: 20px;"><strong>&nbsp;Fecha Informe:</strong></td>
<td style="width: 50%; height: 20px;">{{input_fecha_informe}}</td>
</tr>
<tr style="height: 20px;">
<td style="width: 50%; height: 20px;"><strong>&nbsp;N&deg; NC :</strong></td>
<td style="width: 50%; height: 20px;">{{NUMERO}}</td>
</tr>
</tbody>
</table>
<h2 style="text-align: center;">Datos Facturaci&oacute;n</h2>
<table style="border-collapse: collapse; width: 100%; height: 60px;" border="1">
<tbody>
<tr style="height: 29px;">
<td style="width: 25%; height: 29px;"><strong>&nbsp;Cliente:</strong></td>
<td style="width: 25%; height: 29px;">&nbsp;{{nombre_cliente}}</td>
<td style="width: 25%; height: 29px;"><strong>&nbsp;Rut:&nbsp;</strong></td>
<td style="width: 25%; height: 29px;">&nbsp;{{rut_cliente}}</td>
</tr>
<tr style="height: 31px;">
<td style="width: 25%; height: 31px;"><strong>&nbsp;Ciudad:</strong></td>
<td style="width: 25%; height: 31px;">&nbsp;{{ciudad}}</td>
<td style="width: 25%; height: 31px;"><strong>&nbsp;Comuna:</strong></td>
<td style="width: 25%; height: 31px;">&nbsp;{{comuna}}</td>
</tr>
</tbody>
</table>
<hr />
<table style="border-collapse: collapse; width: 100%; height: 55px;" border="1">
<tbody>
<tr style="height: 29px;">
<td style="width: 25%; height: 29px;"><strong>&nbsp;Transporte</strong>:</td>
<td style="width: 25%; height: 29px;">{{ nombre_transporte}}</td>
<td style="width: 25%; height: 29px;"><strong>&nbsp;NC (Si/No):</strong></td>
<td style="width: 25%; height: 29px;">{{requiere_NC}}</td>
</tr>
<tr style="height: 26px;">
<td style="width: 25%; height: 26px;"><strong>&nbsp;Factura:</strong>&nbsp;</td>
<td style="width: 25%; height: 26px;">{{n_factura}}</td>
<td style="width: 25%; height: 26px;"><strong>&nbsp;Fecha Factura:</strong></td>
<td style="width: 25%; height: 26px;">&nbsp;{{input_fecha_factura}}</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 57px;" border="1">
<tbody>
<tr style="height: 30px;">
<td style="width: 25%; height: 30px;"><strong>&nbsp;Conductor</strong>:</td>
<td style="width: 25%; height: 30px;">{{input_nombre_conductor}}</td>
<td style="width: 25%; height: 30px;"><strong>&nbsp;N&deg; O Retiro:</strong></td>
<td style="width: 25%; height: 30px;">{{orden_de_retiro}}</td>
</tr>
<tr style="height: 27px;">
<td style="width: 25%; height: 27px;"><strong>&nbsp;N&deg; Hoja de Ruta:</strong>&nbsp;</td>
<td style="width: 25%; height: 27px;">{{input_n_ruta}}</td>
<td style="width: 25%; height: 27px;"><strong>&nbsp;Vendedor:</strong>&nbsp;</td>
<td style="width: 25%; height: 27px;">{{input_nombre_vendedor}}</td>
</tr>
</tbody>
</table>
<h2 style="text-align: center;">Datos Devoluci&oacute;n</h2>
<table style="border-collapse: collapse; width: 100.065%; height: 65px;" border="1">
<tbody>
<tr style="height: 22px;">
<td style="width: 22.0668%; height: 22px;">
<p><strong>&nbsp;Tipo&nbsp; &nbsp;devoluci&oacute;n:</strong>&nbsp;</p>
</td>
<td style="width: 22.5394%; height: 22px;">{{input_tipo_devolucion}}</td>
<td style="width: 28.1665%; height: 22px;"><strong>&nbsp;Motivo de retiro:</strong>&nbsp;</td>
<td style="width: 52.6226%; height: 22px;">{{MOTIVO}}</td>
</tr>
<tr style="height: 43px;">
<td style="width: 22.0668%; height: 43px;"><strong>&nbsp;Dev Envase IC :</strong>&nbsp;</td>
<td style="width: 22.5394%; height: 43px;">{{RESPO}}</td>
<td style="width: 28.1665%; height: 43px;"><strong>&nbsp;Recepcion cliente&nbsp; &nbsp;(Si/No) Motivo:</strong></td>
<td style="width: 52.6226%; height: 43px;">{{RECEPCION}}</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 100%; height: 40px;" border="1">
<tbody>
<tr style="height: 40px;">
<td style="width: 18.5496%; height: 40px;"><strong>&nbsp;Observaci&oacute;n:</strong>&nbsp;</td>
<td style="width: 81.4504%; height: 40px;"><strong>{{input_observacion}}</strong></td>
</tr>
</tbody>
</table>
<h2>Productos</h2>
<table style="border-collapse: collapse; width: 100%; height: 45px;" border="1">
<tbody>
<tr style="height: 45px;">
<td style="width: 12.5%; height: 45px;">&nbsp;C&oacute;digo</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Producto</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Lote</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Total KG&nbsp; Fact</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Total KG Dev</td>
<td style="width: 12.5%; height: 45px;">Bodega Destino</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Estado Producto</td>
<td style="width: 12.5%; height: 45px;">&nbsp;Proceso</td>
</tr>
</tbody>
</table>

<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 14%; height: 30PX;">&nbsp;{{codigoProducto_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp; {{loteInput_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{productoInput_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{totalFacturado_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{totalDevuelto_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{bodegaDestino_Row1}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{estadoProducto_Row1}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>
<td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
<td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
<td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

<tr>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp; {{LOTE}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{PRODUCTO}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Fact}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Total_KG_Dev}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Bodega_Destino}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Estado_Producto}}</td>
    <td style="width: 14%; height: 30PX;">&nbsp;{{Proceso}}</td>
</tr>

</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>{{nombre_usuario_calidad}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{nombre_usuario_seleccion}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{nombre_usuario_despacho}}</p>
<p>Firma Monito de Calidad&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Firma Jefe Seleci&oacute;n&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Firma Jefe Despacho</p>
<p>&nbsp;</p>